

.ContainerCard{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.Card{
    width: 250px;
    height: 450px;
}

.ImgCard{
    width: 250px;
    height: 250px;
}

.Text{
    text-align: center;
}

.counter{
    padding-right: 10px;
    padding-left: 10px;
}

.Buttons{
    display: flex;
    align-items: flex-start;
}

.imagen{
    width: 300px;
    height: 300px;
}
